<!DOCTYPE html> <!-- Define el tipo de documento y la versión de HTML -->
<html lang="es"> <!-- Establece el idioma del documento como español -->
<head>
    <meta charset="UTF-8"> <!-- Define la codificación de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura la vista para dispositivos móviles -->
    <title>Gestión</title> <!-- Título que aparece en la pestaña del navegador -->
    <link rel="stylesheet" href="../assets/css/gestion.css"> <!-- Enlace a la hoja de estilos CSS local -->
</head>
<body>
    <div class="sidebar"> <!-- Contenedor para la barra lateral -->
        <div class="logo"> <!-- Contenedor para el logo y el saludo -->
            <img src="../assets/css/img/logo.jpg" alt="Logo" class="logo-img"> <!-- Imagen del logo -->
            <span class="logo-text">Bienvenidos</span> <!-- Mensaje de bienvenida -->
        </div>
        <nav> <!-- Navegación principal -->
            <ul> <!-- Lista de enlaces -->
                <li><a href="pagina_principal.html">Home</a></li> <!-- Enlace a la página principal -->
                <li><a href="perfil.html">Perfil</a></li> <!-- Enlace a la página de perfil -->
                <li><a href="gestion.html" class="active">Gestión</a></li> <!-- Enlace a la página de gestión, marcado como activo -->
                <li><a href="informes.html">Informes</a></li> <!-- Enlace a la página de informes -->
                <li><a href="/">Salir</a></li> <!-- Enlace para salir, redirige a la página de inicio de sesión -->
            </ul>
        </nav>
    </div>
    <div class="content"> <!-- Contenedor principal del contenido -->
        <h2>Gestión</h2> <!-- Título de la sección de gestión -->
        <div class="buttons-container"> <!-- Contenedor para los botones de gestión -->
            <a href="inventario.html" class="gestion-button">Inventario</a> <!-- Enlace al inventario -->
            <a href="venta.html" class="gestion-button">Venta</a> <!-- Enlace a la página de venta -->
            <a href="proveedor.html" class="gestion-button">Proveedores</a> <!-- Enlace a la página de proveedores -->
        </div>
    </div>
</body>
</html>