<!DOCTYPE html> <!-- Define el tipo de documento y la versión de HTML -->
<html lang="es"> <!-- Establece el idioma del documento como español -->
<head>
    <meta charset="UTF-8"> <!-- Define la codificación de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura la vista para dispositivos móviles -->
    <title>Página Principal</title> <!-- Título que aparece en la pestaña del navegador -->
    <link rel="stylesheet" href="../assets/css/pagina_principal.css"> <!-- Enlace a la hoja de estilos CSS local -->
</head>
<body>
    <div class="sidebar"> <!-- Contenedor para la barra lateral -->
        <div class="logo"> <!-- Contenedor para el logo y el saludo -->
            <img src="../assets/css/img/logo.jpg" alt="MYP Logo" class="logo-img"> <!-- Imagen del logo -->
            <h2>Bienvenidos</h2> <!-- Mensaje de bienvenida -->
        </div>
        <nav> <!-- Navegación principal -->
            <ul> <!-- Lista de enlaces -->
                <li><a href="pagina_principal.html" class="active">Home</a></li> <!-- Enlace a la página principal, marcado como activo -->
                <li><a href="perfil.html">Perfil</a></li> <!-- Enlace a la página de perfil -->
                <li><a href="gestion.html">Gestión</a></li> <!-- Enlace a la página de gestión -->
                <li><a href="informes.html">Informes</a></li> <!-- Enlace a la página de informes -->
                <li><a href="/">Salir</a></li> <!-- Enlace para salir, redirige a la página de inicio de sesión -->
            </ul>
        </nav>
    </div>
    <div class="content"> <!-- Contenedor principal del contenido -->
        <div class="main-content"> <!-- Contenedor para el contenido principal -->
            <img src="../assets/css/img/logo.jpg" alt="Logo MYP Servicios Técnicos" class="center-img"> <!-- Imagen del logo centrada -->
            <p class="info-text"> <!-- Párrafo con información sobre la empresa -->
                MYP Servicios Técnicos, fundada en 2009, ha evolucionado de una modesta papelería a un proveedor reconocido de servicios técnicos y venta de insumos de oficina. Su compromiso con la calidad y la satisfacción del cliente les ha permitido establecer relaciones sólidas con diversas instituciones educativas y competir exitosamente en licitaciones públicas.
            </p>
            <img src="../assets/css/img/myp.png" alt="MYP" class="bottom-img"> <!-- Imagen adicional en la parte inferior -->
        </div>
        <footer class="footer"> <!-- Pie de página -->
            <p>Todos los derechos reservados © 2024</p> <!-- Mensaje de derechos reservados -->
        </footer>
    </div>
</body>
</html>