/* Informe de Resultados CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    margin: 20px;
}

h2 {
    text-align: center; /* Centra el título */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    text-align: center; /* Centra los encabezados de la tabla */
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    text-align: center; /* Centra los botones */
    margin-top: 20px;
}

.back-button, .pdf-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px; /* Bordes circulares */
}

.back-button {
    background-color: #007BFF;
}

.pdf-button {
    background-color: #28A745;
}









